* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Tektur', cursive;

}


/* header section  */

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.nav-title {
    text-align: center;
}

.kill {
    color: red;
}

.born {
    color: #ff42af;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
}

.logo img {
    width: 86px;
    height: 40px;
    margin: 20px 20px 10px 50px;
}

.menus-icon {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nemu-btn {
    width: 200px;
    height: 40px;

}

.menus {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;

}

.menus li {
    list-style: none;
    font-family: Work Sans;
}

img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.follow {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    padding-left: 10px;
}


/* banner section  */
.banner-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.play {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 25px;
}

.banner-img img {
    width: 500px;
    height: 400px;

}

.btn-part .sign-in {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    margin-right: 20px;
}

.go {
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
}

/* gamer section */
.gamer {
    width: 100%px;
    height: 400px;
    margin: 50px 100px;

}

.gamer-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-container {
    display: flex;
    justify-content: space-between;
}


.gamer-img img {
    width: 600px;
    height: 400px;

}

.gamer-content {
    text-align: right;
}

.gamer-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 26px;
    margin-bottom: 15px;
}

.know-more {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    margin-bottom: 20px;

}

.gamer-header span {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.gamer-header {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games Funny Videos */

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.online-games-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.online-games-img {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 50px;
    margin-top: 25px;
}

.online-games-img p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 12px;
    line-height: 20px;

}

.online-games-img img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

/* Play Instantly,No Downloads No Installs. */

/* Hover start  */
.img-1 {
    position: relative;
    width: 50%;
}

.hover-img {
    display: block;
    width: 100%;
    height: auto;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 80px;
    margin-top: 100px;
    margin-left: 40px;
}

.play-btn img {

    width: 80px;
    height: 80px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
    width: 200px;
    height: 300px;
    background-color: #111010;

}

.img-1:hover .overlay {
    opacity: 0.5;
    border: 3px solid #eb0881;
    border-radius: 5px;

}

.text {

    text-align: center;
    color: #eb0881;
    font-size: 10px;
    font-family: Work Sans;
    position: absolute;
    top: 200px;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

/* Hover end  */


.play-instantly {
    display: flex;
    justify-content: space-around;
    margin: 50px 120px;
}

.play-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.play-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
}

.img img {
    width: 500px;
    height: 550px;

}

.over-img {
    width: 300px;
    height: 320px;
    border-radius: 8px;
    margin-left: 600px;
    margin-top: -300px;
}






/* responsive section  */
/* mobile  */

@media screen and (max-width:576px) {

    .nav-container,
    .gamer-container,
    .online-games,
    .gamer-content,
    .online-games-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menus {
        display: grid;
        margin-left: 80px;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .banner-img img {
        width: 350px;
        height: 350px;
    }

    .banner-container {
        margin-top: 150px;
        padding-left: 50px;
    }

    .banner-content {
        margin-top: 25px;
    }

    .gamer-container {
        text-align: center;
    }

    .gamer-img img {
        width: 350px;
        height: 250px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .gamer-title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Work Sans;
        font-size: 40px;
        font-weight: 700;
    }

    .gamer-description {
        width: 400px;
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .know-more {

        display: inline-flex;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
    }

    .gamer-header span {
        color: #534C64;
        display: flex;
        justify-content: center;
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 45px;

    }

    .gamer-header {
        color: #534C64;
        font-family: Work Sans;
        font-size: 25px;
        font-weight: 500;
        width: 350;
        line-height: 15px;

    }

    .online-games {
        margin-top: 300px;
    }

    .online-games-title span {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Work Sans;
        font-size: 30px;
        font-weight: 700;
    }

    .online-games-title {
        color: #0B0223;
        text-align: right;
        font-family: Work Sans;
        font-size: 30px;
        font-weight: 700;
    }

    .online-games-description {
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 13px;

    }

    .img-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;

    }

    .play-instantly {
        display: flex;
        flex-direction: column;
    }

    .play-title {
        width: 460px;
        height: 230px;
        text-align: center;
        font-family: Work Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
    }

    .play-description {
        width: 470px;
        height: 120px;
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    .img img {
        width: 330px;
        height: 350px;
    }

    .over-img {
        display: flex;
        justify-content: left;
        width: 50%;

        margin: 0 auto;
    }

}

/* tablets or medium */
@media screen and (min-width:577px) and (max-width:1024px) {

    .nav-container,
    .menus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .banner-img img {
        width: 400px;
        height: 400px;
    }

    .banner-container {
        margin-top: 150px;
        padding-left: 50px;
    }

    .banner-content {
        margin-top: 25px;
    }

    header {
        margin: 30px;
    }
}